<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NamstR - @ViewData["Title"]</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <environment names="Development">
            <link rel="stylesheet" href="~/css/dist/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/dist/site.min.css" asp-append-version="true"/>
        </environment>
        
        @RenderSection("styles", required: false)

        <script src="~/js/dist/vendor.bundle.js"></script>
        @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    </head>
<body>
    @RenderBody()

    <environment names="Development">
        <script src="http://localhost:8080/webpack-dev-server.js"></script>
    </environment>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
